body {
  color: #3e3e3e
}

h1, h2, h3, h4, h5 {
  color: #313135
}

a {
  color: #1e8bc9;
  text-decoration: none;
}

a:visited {
  color: rgb(82, 82, 211);
}

a:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  color: black;
}